click
faiss-cpu
faker
jinja2
langchain
langchain-community
langchain-huggingface
markdownify
pandas
pydantic
pydantic-settings
python-dotenv
pyyaml
requests
rich
sentence-transformers
streamlit==1.32.0
watchdog